.container{
	width: 100%;
	height: 100%;
}
.page-content{
	width: 100%;
	overflow: hidden;
}
.ease {
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-o-transition: all 1s linear;
	transition: all 1s linear;
}
.page{
	width: 100%;
	height: 100%;
	position: relative;
}
.linner{
	width: 100%;
	height: 300px;
	padding: 50px 10px;
	position: absolute;
	top:0px;
	bottom: 0px;
	margin: auto;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
}
.page-control{
	text-align: center;
}
.page-control label{
	text-align: center;
	position: absolute;
	display: inline-block;
	cursor: pointer;
	width: 20px;
	margin: auto;
	left: 0px;
	right: 0px;
}
.page-control label.page-prev{
	top:7px;
}
.page-control label.page-next{
	bottom:10px;
}
#page-one{
	background-color: #7499de;
}
#page-two{
	background-color: #5f7cb3;
}
#page-three{
	background-color: #415479;
}